
<div class="modal-header" >
  <h4 class="modal-title" id="modal-basic-title">File Upload</h4>
  <button type="button" class="btn btn-danger" (click)="close()">&times;</button>
</div>
<div class="modal-body">
  <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
    <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
